/* ---------- Fonts ---------- */
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter_18pt-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter_18pt-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter_18pt-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter_18pt-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/Jost-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/Jost-Bold.ttf);
  font-weight: 700;
}
/*--------------------- Screen ---------------------*/

/* -------------------- Globals -------------------- */
a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------- Sections -------------------*/

.section {
  width: 100%;
  min-width: 1200px;
  padding: 70px 50px;
}

.content {
  width: fit-content;
  margin: auto;
}

/*--------------------- Text -------------------*/
.text-small {
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
}

.text-middle {
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
}

.text-light {
  color: #ffffff;
}

.text-big-header {
  margin-bottom: 70px;

  font-family: Jost;
  font-weight: 700;
  font-size: 50px;
}

.text-num {
  color: #ffffff;
  font-size: 70px;
  font-weight: 900;
  font-style: italic;
  font-family: Inter;
}

.text-big-bold {
  font-size: 30px;
  font-weight: 900;
  font-family: Inter;
}

/*-------------------- Grids -----------------------*/

.grid-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 215px 215px;
  align-self: center;
}

.grid-services {
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows: 1fr;
  margin: auto;
  gap: 50px;
}

/*----------------------Btns------------------------*/

.btn {
  line-height: 50px;
  text-align: center;

  background-color: black;
}

/*-------------------- Nav-Menu ---------------------*/
.nav-menu {
  margin: auto;
  width: 1100px;
}
.nav-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.nav-section {
  padding: 15px 50px;
  background-color: #6a9cd5;
}

.nav-menu .btn {
  width: 225px;
  line-height: 40px;
}
.contacts {
  display: inline-flex;
  flex-direction: row;
  gap: 90px;
}
/*------------------ Header -----------------------*/

.header-btn {
  width: 250px;
  height: 50px;
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 76.31px;
}

.grid-header img {
  grid-row: 1/3;
  grid-column: 2/3;
  margin-left: 80px;
}

.grid-header span {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-top: 15%;
}

.grid-header h1 {
  font-size: 65px;
  color: #6a9cd5;
  font-weight: 900;
}

.grid-header h2 {
  font-size: 50px;
  font-weight: 900;
}

.grid-header h3 {
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  font-family: Inter;
  grid-row: 2/3;
  grid-column: 1/2;
}

/*------------ Section Services--------------*/
/*------------- Block-1 --------------------*/

.b-block {
  position: relative;
  grid-row: 1/2;
  width: 280px;
  height: 320px;
  background-color: #6a9cd5;
  align-content: center;
  text-align: center;
  z-index: 0;
}

.container {
  display: block;
  grid-column: 2/3;
  z-index: 1;
}

.container img {
  margin-top: 20px;
  margin-bottom: 15px;
}

.services-btn {
  width: 215px;
  height: 50px;
  margin: -80px auto;
  grid-row: 2;
  z-index: 1;
}

/*------------ Section Steps--------------*/
/*--------------- Block-2 ---------------*/
.steps-section {
  background-color: #6a9cd5;
}

.container-steps {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 94px;
}

.cell {
  display: flex;
  gap: 15px;
}

.h3-steps {
  margin-top: 10px;
}

.num {
  line-height: 64px;
}

/*-------------- Block-3 --------------*/

.container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pluses-container {
  display: flex;
  gap: 90px;
  justify-content: center;
}

.container-item img {
  margin-bottom: 15px;
}

/*--------------- Footer ---------------*/

.footer-menu {
  margin: auto;
  width: 1100px;
}
.footer-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.footer-menu .btn {
  width: 280px;
  line-height: 40px;
}
