@media (width <= 500px) {
  /* ---------- Sections ---------- */
  .section {
    min-width: 300px;
    padding: 40px 10px;
  }

  /* ---------- Text ---------- */

  .text-small,
  .text-middle {
    font-size: 7px;
  }

  .text-big-header {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .text-big-bold {
    font-size: 14px;
  }

  /* ---------- Buttons ---------- */
  .btn {
    line-height: 20px;
  }
  /* --------------- Header --------------- */
  /* ---------- Nav-Menu ---------- */
  nav.section {
    padding: 10px;
  }

  nav .content {
    width: 280px;
  }

  nav span.lt-flx-btw-cen {
    gap: 2px;
  }

  /* ----- Contacts ----- */
  nav .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }

  /* ----- Contact Btn ----- */
  nav .btn {
    width: 80px;
    line-height: 20px;
  }

  /* ----- Nav. Icons ----- */

  nav img {
    width: 89px;
    height: 20px;
  }

  nav span img {
    width: 7px;
    height: 7px;
  }

  /* ---------- Header Block ---------- */
  .content-header {
    width: 280px;

    gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 31px;
  }

  /* ----- Text ----- */

  .content-header h1 {
    font-size: 21px;
  }

  .content-header h2 {
    font-size: 15px;
  }

  .content-header h3 {
    font-size: 9px;
  }

  /* ----- Image ----- */
  .content-header img {
    width: 120px;
    height: 110px;
  }

  /* ----- Button ----- */
  .content-header .btn {
    width: 80px;
  }

  /* --------------- Section 1 --------------- */
  .content-services {
    width: 230px;

    gap: 10px;
  }

  h2.text-big-header{
    max-width: 280px;
  }

  /* ----- Service Cards ----- */
  .card-service {
    padding: 11px 0 20px 0;
    font-size: 5px;
  }

  .card-service h3 {
    margin-bottom: 6px;
    font-size: 6px;
  }

  .card-service img {
    margin-bottom: 10px;
  }

  .card-service .btn {
    width: 60px;

    line-height: 15px;
    bottom: -5px;
  }

  /* ----- Image ----- */
  .card-service img{
    width: 40px;
    height: 40px;
  }
}
