@media (width <= 500px) {
  /* ---------- Sections ---------- */
  .section {
    /* min-width: 300px; DO */
    min-width: 100%;
    padding: 30px 15px;
  }

  /* ---------- Text ---------- */

  .text-small,
  .text-middle {
    font-size: 7px;
  }

  h2.text-big-header {
    max-width: 280px;
    text-align: center;
  }

  .text-big-header {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
  }

  .text-big-bold {
    font-size: 14px;
  }

  /* ---------- Buttons ---------- */
  .btn {
    line-height: 20px;
  }
  /* --------------- Header --------------- */
  /* ---------- Nav-Menu ---------- */
  nav.section {
    padding: 10px;
  }

  nav .content {
    /* width: 280px; DO */
    width: 100%;
  }

  nav span.lt-flx-btw-cen {
    gap: 2px;
  }

  /* ----- Contacts ----- */
  nav .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }

  /* ----- Contact Btn ----- */
  nav .btn {
    width: 80px;
    line-height: 20px;
  }

  /* ----- Nav. Icons ----- */

  nav img {
    width: 89px;
    height: 20px;
  }

  nav span img {
    width: 7px;
    height: 7px;
  }

  /* ---------- Header Block ---------- */
  .content-header {
    /* width: 280px; DO */
    width: 100%;

    gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 1fr 31px; DO */
    grid-template-rows: auto auto;
  }

  /* ----- Text ----- */

  .content-header h1 {
    /* font-size: 21px; DO */

    font-size: clamp(
      21px,
      calc(21px + (28 - 21) * ((100vw - 300px) / (500 - 300))),
      28px
    );
  }

  .content-header h2 {
    /* font-size: 15px; DO */

    font-size: clamp(
      15px,
      calc(15px + (22 - 15) * ((100vw - 300px) / (500 - 300))),
      22px
    );
  }

  .content-header h3 {
    /* font-size: 9px; DO */

    font-size: clamp(
      9px,
      calc(9px + (16 - 9) * ((100vw - 300px) / (500 - 300))),
      16px
    );
  }

  /* ----- Image ----- */
  .content-header img {
    /* width: 120px; DO */
    /* height: 100%; DO */

    width: clamp(120px, 35.833vw + 8px, 470px);
    height: clamp(110px, 33.333vw - 0.667px, 430px);
  }

  /* ----- Button ----- */
  .content-header .btn {
    width: 80px;
  }

  /* --------------- Section 1 --------------- */
  .content-services {
    width: 272px;

    display: grid;
    grid-template-columns: 26px 1fr 26px;
    grid-template-rows: 243px;

    margin: auto;
  }

  .cards {
    width: 220px;

    display: block;
    gap: 0;
    position: relative;
    margin-left: 10px;
    margin-right: -10px;
  }

  button {
    display: block;

    background: none;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
  }

  .left-button {
    background-image: url("../images/l-btn.svg");
  }

  .right-button {
    background-image: url("../images/r-btn.svg");
  }


  /* ----- Service Cards ----- */

  .card-service {
    position: absolute;

    width: 200px;
    height: 243px;
    padding: 20px 0 40px 0;

    font-size: 12px;
  }

  .card-service h3 {
    font-size: 15px;
  }

  .card-service img {
    margin-bottom: 20px;
    width: 110px;
    height: 110px;
  }

  .card-service .btn {
    width: 150px;

    font-size: 13px;
    line-height: 40px;
  }

  /* --------------- Section 2 --------------- */
  .content-steps {
    width: 100%;

    margin-left: 7px;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  /* ----- Steps Cards ----- */
  .content-steps div {
    gap: 5px;
  }

  .content-steps span {
    width: 20px;

    font-size: 32px;
    line-height: 23px;
  }

  .content-steps h3 {
    margin-top: 4px;
  }

  /* ----- Bottom Header ----- */
  .content-steps + .text-big-header {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 19px;
  }

  /* --------------- Section 3 --------------- */
  /* ----- Benefits Cards ----- */
  .content-benefits {
    gap: 20px 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
  }

  .content-benefits div {
    display: flex;
    align-items: center;
  }

  .content-benefits p {
    display: inline-block;
    width: 91px;
    font-size: 10px;
  }

  .content-benefits img {
    margin-right: 28px;
    margin-bottom: 0;
    width: 84px;
    height: 94px;
  }

  /* --------------- Footer --------------- */
  footer.section {
    margin-top: 10px;
    padding: 10px;
  }

  footer .content {
    /* width: 280px; DO */
    width: 100%;
  }

  footer .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }

  footer span img {
    width: 7px;
    height: 7px;
  }

  footer .lt-flx-btw-cen {
    gap: 2px;
  }

  footer .btn {
    width: 80px;
    line-height: 20px;
  }
}
